<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <h1>This is dokon page!</h1>
    <a href="http://127.0.0.1:8000/tarix/">Tarix</a>
    <a href="http://127.0.0.1:8000/accaunt/">Back</a>
    {% for buyum in dokon %}
        <div>
            <h2>{{ buyum.Title }}</h2>
            <p>{{ buyum.Description }}</p>
            <p>{{ buyum.price }}</p>
            <p>{{ buyum.author }}</p>
            <img src="{{ buyum.img.url }}" alt="Rasim topilmadi!">
        </div>
    {% endfor %}
</body>
</html>
