{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>This is book page!</h1>
  {% for book in book %}
          <div>
              <img src="{{ book.img.url }}" alt="Rasim topilmadi">
          </div>
      <div class="card-body">
          <a href="{% url 'book-detail' book.id %}">
              <h2>Title: {{ book }}</h2>
          </a>
      </div>
  {% endfor %}
<a href="http://127.0.0.1:8000/commints/">Commints</a> | <a href="http://127.0.0.1:8000/author/">Author</a>
{% endblock %}
