<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Course detail!</h1>
    <div class="card">
      <div class="card-header">
        Description
      </div>
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Ubdate</a>
        <a href="{% url 'book_delete' book.id %}" class="btn btn-primary">Delete</a>
      </div>
    </div>

</body>
</html>